@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif ;
    
}  

/* mobile */
@media screen and (max-width: 767px) {

    .content-home{
        background-image: linear-gradient(to left,  rgb(2, 2, 53), 40%, rgb(0, 0, 0));
        text-align: center;
        padding: 8vh; 
    } 

    .title {
        color: white;
        font-size: 1.5rem;
        font-weight: 300; 
        margin-top: 5px;
    } 

    .description{
        color: #eee; 
        font-weight: 600;
        font-size: 1.4rem;
    }

    .profile{
        width: 120px; 
        border-radius: 10rem; 
        /* visibility: hidden;  */
    }  


    .ability {
        display: flex;
        text-align: center; 
       
    
    }

    .minicard{  
        text-align: center;
        border-radius: .2rem;
        background-color: #eeeeee49 ;
        color: white; 
        padding: 8px; 
        margin-top: 15px; 
        margin-right: 5px; 
        width: 50%; 
       
    } 
    
    .social-medias{
    
        color: white; 
        padding: 15px ;
        background-color: red;
        height: 80%;
    }

    /* Definindo a animação de entrada */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplicando a animação aos elementos desejados */
  .title,
  .description,
  .minicard {
    animation: fadeIn 0.5s ease-out forwards;
  }
  

}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body{
       visibility: hidden;
    }
}

/* desktop */
@media screen and (min-width:1024px) {
    body{
        visibility: hidden;
    }
}

