@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif ;
    
}  

/* mobile */
@media screen and (max-width: 767px) {
    body {
        
    } 
    .content-home{
        /* background-color: #903;  */
        /* background-image: linear-gradient(to top, #eeeeee00, 30%, black), url(/assets/css/image/programming-background-.jpg); */
        background-image: url(./assets/css/image/programming-background-.jpg); 
         
        text-align: center;
        padding: 8vh; 
        margin: .8rem; 
        border-radius: 1rem;
    } 

    .title {
        color: white;
        font-size: 1.8rem;
        font-weight: 300; 
        margin-top: 5px;
    } 

    .description{
        color: #eee; 
        font-weight: 600;
        font-size: 1.5rem;
    }

    .profile{
        width: 120px; 
        border-radius: 10rem;
    }


}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body{
       /* visibility: hidden; */
    }
}

/* desktop */
@media screen and (min-width:1024px) {
    body{
        /* visibility: hidden; */
    }
}

